@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
  :root{
    --fonte1: Verdana, Gevena, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
  }

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    text-align: center;
    font-family: var(--fonte2);
}
header h1{
    padding-top: 50px;
    font-weight: 700;
    color: white;
    font-variant: small-caps;
    font-size: 10vw;
}
header p{
    padding-bottom: 50px;
    font-size: 1em;
    color: white;
}
header p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header p > a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
main .normal{
    background-color: white;
    color: black;
}
main .imagem{
    background-color: rgb(83, 83, 83);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
}
main .imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
}
section#img1{
    background-image: url('../imagens/imagens/background001.jpg');
    background-position: right center;
}
section#img2{
    background-image: url('../imagens/imagens/background002.jpg');
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
footer p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer p > a:hover{
    text-decoration: underline;
}